.guide-container {
    padding: 5rem;
}

.guide-container .header {
    background-color: #a8d0ff;
    border-radius: 20px;
    padding: 30px;
}

.content {
    margin-top: 40px;
    min-height: 100vh;
}

.quote {
    border-left: 2px solid grey;
    margin-left: 10px;
    background-color: #cde4ff;
    padding: 10px;
}