.page {
    flex-direction: row;
    display: flex;
    min-height: 100vh;
    background-color: #f9f9fa;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form form {
    display: table;
    min-width: 350px;
    margin: 0 auto;
    padding: 1rem;
}

h2.title {
    font-size: 45px;
    font-weight: 500;
}

div.form-group {
    width: 500px;
    height: 100%;
    margin-bottom: 30px;
}

div.form-group label {
    font-size: 20px;
    font-weight: 500;
    display: table;
    width: 100%;
    margin-bottom: 0.5rem;
    color: #3b3b3b;
}

div.form-group label.detail {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 15px;
}

div.form-group input {
    border: 1px rgb(209, 209, 209) solid;
    border-radius: 8px;
    font-size: 15px;
    width: 100%;
    padding: 15px 10px;
}

div.form-group input:focus {
    box-shadow: 0px 0px 2px 1px #0071f355;
}

div.form-group input:focus-visible {
    border: 1px #0071f3 solid;
    outline: none;
}

::placeholder {
    font-weight: 400;
    color: rgb(179, 179, 179);
    font-size: 15px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.form-description {
    height: 100px;
    width: 100%;
    word-wrap: break-word;
    resize: none;
    border: 1px rgb(209, 209, 209) solid;
    border-radius: 8px;
    word-break: break-word;
    padding: 10px;
    font-size: 15px;
}

.form-description:focus {
    box-shadow: 0px 0px 2px 1px #0071f355;
}

.form-description:focus-visible {
    border: 1px #0071f3 solid;
    outline: none;
}

.tags {
    margin-bottom: 10px;
}

.tags .tag {
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    margin: 2px 3px;
    padding: 8px 13px;
    color: white;
    border: none;
    cursor: pointer;
}

.category {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category a {
    border: 1px solid #bcbcbc;
    padding: 0px 35px;
    border-radius: 8px;
    font-weight: 300;
    transition: 0.5s;
    line-height: 40px;
}

.category a:hover {
    box-shadow: 0px 0px 2px 1px #0071f355;
    border: 1px solid #0071f3;
    background-color: #0071f32e;
    color: rgb(36, 114, 223);
    font-weight: 400;
}

.category-active {
    box-shadow: 0px 0px 2px 1px #0071f355 !important;
    border: 1px solid #0071f3 !important;
    background-color: #0071f32e !important;
    color: rgb(36, 114, 223) !important;
    font-weight: 400 !important;
}

input::file-selector-button {
    box-shadow: 0px 0px 2px 1px #0071f355;
    border: 1px solid #0071f3;
    padding: 8px 15px;
    margin-right: 15px;
    border-radius: 4px;
    background-color: #0071f32e;
    transition: 0.5s;
}

input::file-selector-button:hover {
    background-color: #a8d0ff;
    cursor: pointer;
    color: #0060e9;
}

.success-message {
    margin-bottom: 10px;
    text-align: center;
}

.submit {
    width: 100%;
    border: none;
    height: 40px;
    font-size: 20px;
    border-radius: 4px;
    background-color: #0070f3;
    color: #fff;
    cursor: pointer;
}

.submit:hover {
    background-color: #0046a7;
}