.log-in {

}

.auth-form {
  border: 1px solid rgba(254, 254, 254, 0.327);
  background: rgba(73, 73, 73, 0.227);
  backdrop-filter: blur(15px);
  border-radius: 19px;
  padding: 6rem 5rem;
  min-width: 1000px;
  height: 600px;
}

.auth-form .left-form {
  /* border: 1px solid red; */
}

.auth-form .right-form {
  /* border: 1px solid red; */
  padding: 0px 50px;
}

.auth-form > .separator {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #898989 50%, rgba(0, 0, 0, 0) 100%);
}

.left-form h1 {
  line-height: 50px;
}

.left-form p {
}

.right-form form {
  gap: 20px;
}

form input {
  background-color: rgba(251, 251, 251, 0.285);
  padding: 0px 20px;
  border-radius: 12px;
  border: 1px solid rgba(86, 86, 86, 0.736);
}

form input:focus-visible {
  background-color: rgba(136, 136, 136, 0.315);
  border: 1px solid rgb(133, 133, 133);
  outline: none;
}

form div label {
}

form div label span {
  transform: translate3d(0, 0, 0);
}

form.authen-form div label span:first-child {
  border-radius: 50%;
  transform: scale(1);
  border: 1px solid #B9B8C3;
  transition: all 0.2s ease;
}

form div label span:first-child svg {
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

form div label span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #E6975f;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}

form div label span:last-child {
}

form div label:hover span:first-child {
  border-color: #E6975f;
}

form div input:checked+label span:first-child {
  border-color: #E6975f;
  background: #E6975f;
  animation: check 0.6s ease;
}

form div input:checked+label span:first-child svg {
  stroke-dashoffset: 0;
}

form div input:checked+label span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}

.right-form .separator {
  margin: 10px 0px;
}

.right-form .separator::before,
.right-form .separator::after {
  content: '';
  flex: 1;
  height: 1px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #ffffff 100%);
  border: none;
}

.right-form .separator::after {
  background: linear-gradient(90deg, #ffffff 0%, rgba(0, 0, 0, 0) 100%);
}

.right-form .separator:not(:empty)::before {
  margin-right: 0.5em;
}

.right-form .separator:not(:empty)::after {
  margin-left: 0.5em;
}

.right-form button {
  margin: 5px 0px;

  border: 1px solid rgba(86, 86, 86, 0.736);
  border-radius: 12px;
  background-color: #21212166;
  transition-duration: 200ms;
}

.right-form button:hover {
    background-color: #55555566;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.578);
}

.right-form a.forgot {
  margin-top: 10px;
}

@keyframes check {
  50% {
    transform: scale(1.2);
  }
}