.item-dashboard {
    text-align: center;
    padding: 60px;
    font-size: 20px;
    width: 300px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    border: 1px solid rgba(86, 86, 86, 0.736);
    backdrop-filter: blur(15px);
}

.item-dashboard:hover {
    /* background: rgba(255, 255, 255, 0.296); */
    box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.309);
}

.main-container main {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    border: 1px solid rgba(86, 86, 86, 0.736);
    max-height: 80vh;
    max-width: 90% !important;
    /* overflow: scroll; */
    padding: 40px 50px;
    gap: 30px;
}

main .dashboard-column {
    min-width: 400px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    border: 1px solid rgba(86, 86, 86, 0.736);
}

.dashboard-column ul {
    overflow: auto;
    height: calc(100% - 50px);
    padding-right: 3px;
}

.dashboard-column ul::-webkit-scrollbar {
    width: 8px;
}

.dashboard-column ul::-webkit-scrollbar-thumb {
    background: #535353;
    border-radius: 10px;
}

/* Handle on hover */
.dashboard-column ul::-webkit-scrollbar-thumb:hover {
    background: #6e6e6e;
}

.dashboard-column ul .items-group {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    border: 1px solid rgba(86, 86, 86, 0.736);
    backdrop-filter: blur(15px);
    transition-duration: 200ms;
}

.dashboard-column ul .items-group:hover {
    background: rgba(255, 255, 255, 0.168);
}

.items-group .item-title {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 10px 0px;
    height: 60px;
    justify-content: space-between;
}

.item-title p {
    font-weight: 800;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
}

.item-title button {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid rgba(86, 86, 86, 0.736);
}

.item-title button:hover {
    background-color: #98989866;
}

.items-group .items-footer {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content:left;
    gap: 30px;
}

.items-footer .footer-item {
    display: flex;
    flex-direction: row;
}

.footer-item img {
    width: 15px;
    object-fit: contain;
}

.footer-item p {
    font-weight: 200;
    margin-left: 4px;
    font-size: 13px;
}

div.responses table .item-type-Product {
    background-color: #547be7;
    color: #c8d4f5;
}

div.responses table .item-type-Room {
    background-color: #e39779;
    color: #ffe3d7;
}

div.responses table .item-type-Client {
    background-color: #724fbb;
    color: #d3c3f5;
}

div.responses table .item-type-Employee {
    background-color: #3c8339;
    color: #b1ffae;
}

div.responses table .item-type-Student {
    background-color: #bb4f70;
    color: #f8c2d2;
}