.header-container {
  border-bottom: 1px solid rgb(133, 133, 133);
  padding: 1rem 3rem;
  background: rgba(32, 32, 32, 0.342);
  backdrop-filter: blur(15px);
}

.header-container .container-fluid {
  display: flex;
  justify-content: space-between;
}

.container-fluid .logo {
  gap: 8px;
}

.container-fluid .nav-bar {
  gap: 10px;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(1, 1fr);
  max-width: 70%;
}

.container-fluid .header-right {
  gap: 13px;
}

.header-right .get-started {
  justify-items: center;
  border: 1px solid rgba(86, 86, 86, 0.736);
  border-radius: 12px;
  background-color: #5f5f5f66;
}

.header-right .get-started:hover {
  background-color: #a0a0a066;
}

@media only screen and (max-width: 1000px) {
  .header-web {
    display: none !important;
  }

  .header-mobile {
    display: block !important;
  }
}