.modal {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    border: 1px solid rgba(86, 86, 86, 0.736);
    backdrop-filter: blur(15px);
    min-width: 600px;
}

.modal h1 {
    font-weight: 700;
    font-size: 20px;
}

.modal .stats {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    border: 1px solid rgba(86, 86, 86, 0.736);
    padding: 15px;
}

.modal .responses {
    margin-top: 20px;
}

.responses div.nextui-table-container {
    border:none;
    border-radius: 0px;
}

.responses table {
    display: table-header-group;
    width: 100%;
    height: 520px;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(86, 86, 86, 0.736);
    border-radius: 10px !important;
    padding: 5px;
    margin-top: 10px;
}

thead th {
    text-align: left;
    font-size: 15px !important;
}

tbody::-webkit-scrollbar {
    width: 8px;
}

tbody::-webkit-scrollbar-thumb {
    background: #535353;
    border-radius: 10px;
}

tbody::-webkit-scrollbar-thumb:hover {
    background: #6e6e6e;
}

tbody tr {
    width: 100%;
    border-bottom: 1px solid rgba(86, 86, 86, 0.736);
}


td {
    font-weight: 100 !important;    
    white-space:nowrap;
    width: 200px;
    font-size: 14px;
    height: 50px;
    color: white;
}

tr td:nth-child(1) {
    width: 200px;
}

tr td:nth-child(2) {
    width: 130px;
}

tr td:nth-last-child(1) {
    width: 100px;
}

td p.name {
    font-weight: 500;
}

td p.id {
    font-size: 11px;
    color: rgb(177, 177, 177);
    font-weight: 100;
}

td.empty {
    text-align: center;
    width: 0px;
}

tfoot tr th nav button {
    border: 1px solid red;
        background-color: #53535371 !important;
    color: white !important;
}

.modal svg {
    width: 100%;
    height: 100%;
}

.modal .qr-wrapper {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0px 0px 46px 3px rgba(97, 97, 97, 0.77);
}

.modal .time-left {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    font-weight: 800;
}

.small-icon {
    height: 20px;
    width: 20px;
    margin: 0px 2px;
}

.small-icon:hover {
    box-shadow: none;    
    background-color: transparent;
}

.small-icon img {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.small-icon:hover img {
    color: red;
}