.main-container .content {
    border-radius: 20px;
    /* backdrop-filter: blur(15px); */
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.content h1 {
    font-size: 35px;
    font-weight: 700;
}

.content p {
    font-weight: 200;
}

canvas.render-canvas {
    border-radius: 10px;
    margin: 20px 0px;
    border: 1px solid rgba(86, 86, 86, 0.736) !important;
    box-shadow: 7px  7px 22px #242424,
    -7px -7px 22px #383838;
    background-color: rgb(213, 213, 213);
}

.content img {
    height: 160px;
    width: 160px;
    object-fit: cover;
    margin: 60px 0px;
}

.content form {
    width: 100%;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content .data-types {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
}

.data-types .type-flip-container:nth-child(-1n + 3) {
    grid-column: span 4;
}

.data-types .type-flip-container:nth-last-child(2) {
    grid-row-start: 2;
    grid-column: 3 / span 4;
}

.data-types .type-flip-container:nth-last-child(1) {
    grid-row-start: 2;
    grid-column: 7 / span 4;
}

.data-types .type-flip-container {
    text-align: center;

    perspective: 1000px;
    width: 200px;
    height: 230px;
}

.type-flip-container .type-flip {
    width: inherit;
    height: inherit;
  
    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
}

.type-flip-container:hover .type-flip,
.type-flip-container:focus-within .type-flip {
    transform: rotateY(180deg);
}

.type-flip-container:focus-within .type-flip .back-flip {
    border: 1px solid white;
    box-shadow: 7px  7px 22px #242424,
               -7px -7px 22px #383838;
}

.type-flip .front-flip,
.type-flip .back-flip {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(86, 86, 86, 0.736);
    
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    
    backface-visibility: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.type-flip .front-flip {
    transform: rotateY(0deg);
    z-index: 2;
}

.front-flip p {
    margin-top: 10px;
    font-size: 20px;
}

.type-flip .back-flip {
    transform: rotateY(180deg);
    z-index: 1;
}

.back-flip h3 {
    font-size: 16px;
    font-weight: 600;
}

.back-flip p {
    font-size: 13px;
    font-weight: 200;
    margin-top: 5px;
    color: rgb(194, 194, 194);
}

.back-flip button {
    margin-top: 20px;
    font-family: inherit;
    font-weight: bold;
    color: white;

    letter-spacing: 2px;

    padding: 9px 20px;
    border: 1px solid grey;
    border-radius: 1000px;
    background: transparent;
    transition: .3s;

    cursor: pointer;
}

.back-flip button:hover,
.back-flip button:focus {
    color: hsl(150, 50%, 50%);
    background: hsla(150, 25%, 10%, .2);
    border-color: currentColor;
}

.back-flip button:active {
    transform: translate(2px);
}

.data-types img {
    margin: 0px;
    height: 100px;
    width: 100px;
}

.devices-choices {
    justify-content: space-between !important;
    font-weight: 100 !important;
    background-color: rgba(255, 255, 255, 0.06) !important;
    padding: 10px !important;
    border: 1px solid rgba(86, 86, 86, 0.736) !important;
    color: white !important;
    align-items: left;
}

.devices-choices:hover {
    background-color: rgba(255, 255, 255, 0.124) !important;
}

div.nextui-popover-content {
    backdrop-filter: blur(8px);
    background-color: rgb(47, 47, 47) !important;
    border: 1px solid rgb(79, 79, 79);
}

ul.nextui-c-clSMyX,
ul.nextui-c-ltVxD {
    background-color: rgb(46, 46, 46) !important;
    border-radius: 10px;
}

.nextui-c-kpzpMf-kIthQh-isFocused-true {
    background-color: rgba(255, 255, 255, 0.06) !important;
}

li.nextui-dropdown-item {
    height: 100%;
}

form>label {
    font-weight: 200;
    text-align: center;
}

label {
    color: white !important;
    font-weight: 200 !important;
}

form .input>div {
    background-color: #7c7c7c44;
    color: white;
}

form .input>div input {
    color: white;
    font-weight: 200;
}

form .input-disabled>div {
    background-color: #38383844;
}

form>div.switch {
    align-items: center;
    display: flex;
}

form>div.switch label.input {
    margin-right: 0px;
    margin-left: auto;
}